# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
/Day_1/Day_1_Lib/x64/Debug
/Day_1/Day_1_test/x64/Debug
/Day_1/x64/Debug

# Local build and cache
/Day_1/.vs
/Day_1/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7

# User specific
*.user
